<button onclick="location.href='/'">Return to Home</button>
<div>
    <p>{{trainer.name}}</p>
    <p>{{trainer.victory_points}}</p>
    <p>{{trainer.battle_tickets}}</p>
</div>

<div>
    <div>Pokemon List</div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Move 1</th>
                <th>Move 2</th>
                <th>Move 3</th>
                <th>Move 4</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in trainer.pokemon_instances %}
                <tr>
                    <td>{{ pokemon.species.name }}</td>
                    <td>{{ pokemon.move1.name }}</td>
                    <td>{{ pokemon.move2.name }}</td>
                    <td>{{ pokemon.move3.name }}</td>
                    <td>{{ pokemon.move4.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for pokemon in trainer.pokemon_instances %}
        
    {% endfor %}
</div>

<div>
    <h1>Current Held Items</h1>
    <button onclick="location.href='{{ trainer.id }}/itemList'">Add Held Item</button>
    <table>
        <thead>
            <tr>
                <th>Item:</th>
                <th>Description:</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in trainer.held_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <form action="/user/{{ trainer.id }}/itemList/deleteItem" method="post">
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <div>Edit Team</div>
    <button onclick="location.href='{{ trainer.id }}/editTeam/A'">Edit Team A</button>
    <button onclick="location.href='{{ trainer.id }}/editTeam/B'">Edit Team B</button>
    <button onclick="location.href='{{ trainer.id }}/editTeam/C'">Edit Team C</button>
    <button onclick="location.href='{{ trainer.id }}/editTeam/D'">Edit Team D</button>
    <button onclick="location.href='{{ trainer.id }}/editTeam/E'">Edit Team E</button>
    <button onclick="location.href='{{ trainer.id }}/editTeam/F'">Edit Team F</button>
</div>